<?xml version="1.0"?>
<model>
  <name>3DR Iris with Ocam</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_ocam.sdf</sdf>

  <author>
   <name>Haruki Nishimura</name>
   <email>hnishimura@stanford.edu</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an FPV OCAM camera. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
